.b1
{
    text-decoration:line-through;
    text-decoration:dotted;
    text-decoration-color:red;
}
.b2
{
    text-decoration:overline;
    text-decoration:dashed;
    text-decoration-color:yellow;
}
.b3
{
    text-decoration:underline;
    text-decoration:double;
    text-decoration-color:green;
    text-indent: 30px;
    text-shadow: 5px 12px 15px;
}
